@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-weight:bold;
    font-style: normal;
}

body{
    background: #F1F1F1;;
}

.main{
    width: 100%;
    /* border: 5px solid red; */
    text-align: center;
}

.content{
    margin-top: 20vh;
    padding: 1vw;
    width: 100%;
    /* border: 5px solid yellow; */
}

.input-field{
    padding: 1vw;
}

.heading{
    font-weight: bold;
    font-size: 40px;
}

input{
    margin-top: 2vh;
    width: 50%;
    height: 10vh;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #E1F0DA;
}

button{
    padding: 1.2vw;
    border-radius: 5px;
    border: none;
    outline: none;
    margin: 8px;
    background: #FEEFAD;
    
}


/*small Device*/
@media screen and (max-width:600px){
    .heading{
        font-size: 3.5vw;
    }

    #input{
        width: 84vw;
        font-size: 3vw;
    }

    button{
        font-size: 2.5vw;
        padding: 1.8vw 1.8vw;
        
    }
}

/*Normal Device*/
@media screen and (min-width:601px) and (max-width:768px){
    .heading{
        font-size: 4vw;
    }

    #input{
        width: 85vw;
        font-size: 3vw;
    }

    button{
        margin-left:0.5vw ;
        font-size: 2.6vw;
        padding: 2vw 2vw;
    }
}

/*Tablets Device*/
@media screen and (min-width:769px ) and (max-width:992px){
    .heading{
        font-size: 4vw;
    }

    #input{
        width: 74vw;
        font-size: 2.5vw;
    }

    button{
        padding: 1vw 1.6vw;
    }
}


/*Large Device*/
@media screen and (min-width:993px ) and (max-width:1250px){

    .heading{
        font-size: 3.2vw;
    }

    #input{
        width: 60vw;
        font-size: 1.8vw;
    }

    button{
        padding: 1.2vw 1.5vw;
    }
}